 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 37px -21px 0 776px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: -45px 281px 0 -95px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 9px 673px 0 -93px;
}

.u-section-1 .u-gallery-1 {
  height: 405px;
  width: 405px;
  margin: -60px -21px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  height: 405px;
  margin: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  padding: 61px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 40.64% 50%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  padding: 61px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  padding: 61px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  padding: 61px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -293px 348px 0 215px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.5rem;
  background-image: none;
  margin: -49px auto 0 -93px;
  padding: 7px 15px 8px 13px;
}

.u-section-1 .u-group-1 {
  width: 497px;
  min-height: 281px;
  height: auto;
  margin: 44px auto 0 -95px;
}

.u-section-1 .u-container-layout-1 {
  padding: 3px 18px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 13px auto 0 45px;
}

.u-section-1 .u-countdown-1 {
  margin: 5px auto 0;
  padding: 0;
}

.u-section-1 .u-countdown-item-1 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-2 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-3 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-4 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-5 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-item-6 {
  background-image: none;
  padding: 15px 20px;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 6px auto 0;
  padding: 7px 19px 9px 17px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: -47px -193px 60px 756px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 676px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -102px;
    margin-right: 50px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 6px;
    margin-right: 530px;
    margin-left: -50px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -343px;
    margin-right: 86px;
    margin-left: 277px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -50px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 27px;
    margin-left: -50px;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 12px;
    margin-right: -93px;
    margin-left: 556px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 122px;
    margin-right: -13px;
    margin-left: 344px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -135px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 5px;
    margin-right: 420px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -37px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -258px;
    margin-right: 110px;
    margin-left: 34px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -116px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -603px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 301px;
    margin-right: 17px;
    margin-left: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 254px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -78px;
    margin-right: 330px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -2px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -153px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -480px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: 1497px;
    margin-right: 0;
    margin-left: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 254px;
    margin-top: 253px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -257px;
    margin-left: -24px;
    margin-right: -24px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-right: 11px;
    margin-left: -11px;
  }

  .u-section-1 .u-gallery-1 {
    height: 340px;
    margin-top: 154px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -463px;
    margin-right: -205px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: -45px;
    margin-left: -11px;
    padding: 6px 0 7px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -497px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 429px;
    margin-right: 163px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 13px 255px 0 275px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0 448px;
}

.u-section-2 .u-gallery-1 {
  height: 406px;
  width: 348px;
  margin: 85px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  height: 405px;
  margin-left: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 0;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 14px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 14px;
}

.u-section-2 .u-gallery-2 {
  height: 439px;
  width: 342px;
  margin: -406px 10px 0 auto;
}

.u-section-2 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 3.98%;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 0;
}

.u-section-2 .u-carousel-item-4 {
  height: 405px;
  margin: 0;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 0;
}

.u-section-2 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

.u-section-2 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

.u-section-2 .u-gallery-3 {
  height: 406px;
  width: 345px;
  margin: -439px auto 60px 11px;
}

.u-section-2 .u-carousel-indicators-3 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-5 {
  height: 405px;
  margin: 0;
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 38.07%;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 0;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 0;
}

.u-section-2 .u-carousel-control-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

.u-section-2 .u-carousel-control-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-right: 142px;
    margin-left: 184px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-left: 369px;
  }

  .u-section-2 .u-gallery-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 25px;
    margin-right: 0;
    margin-left: -15px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 216px;
    margin-left: auto;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-left: 158px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 162px;
    font-size: 1rem;
  }

  .u-section-2 .u-gallery-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1576px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    margin-top: 39px;
    margin-right: -19px;
    margin-left: 3px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 65px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    margin-top: 77px;
  }

  .u-section-2 .u-gallery-2 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-3 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 774px;
}

.u-section-3 .u-gallery-1 {
  height: 508px;
  width: 609px;
  grid-gap: 17px;
  margin: 151px -59px 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 28px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 28px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 28px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 28px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -501px auto 0 -50px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 14px auto 0 -50px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 24px auto 0 -50px;
}

.u-section-3 .u-gallery-2 {
  height: 244px;
  width: 609px;
  grid-gap: 17px;
  margin: 62px auto 60px -39px;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    margin-right: 41px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 50px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-gallery-2 {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-3 .u-gallery-1 {
    height: 659px;
    grid-gap: 17px 17px;
    margin-top: 156px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: auto;
    grid-gap: 17px 17px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -795px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -6px;
    margin-left: 206px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 1051px;
    margin-left: 34px;
  }

  .u-section-3 .u-gallery-2 {
    height: 329px;
    grid-gap: 17px 17px;
    margin-top: -410px;
    margin-left: 34px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    height: 590px;
    margin-left: 300px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-top: -726px;
    margin-left: 250px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 250px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-gallery-2 {
    height: 293px;
    width: 540px;
    margin-top: 43px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-3 .u-gallery-1 {
    height: 497px;
    margin-top: 130px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -600px;
    margin-right: -25px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 778px;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-2 {
    height: 225px;
    margin-top: -294px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 632px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 464px;
  width: 929px;
  grid-gap: 17px;
  margin: 55px auto 54px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 29px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 29px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 29px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 29px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 29px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 29px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 29px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 29px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-right: -351px;
    margin-left: 29px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 914px;
    grid-gap: 17px 17px;
    width: 632px;
    margin-top: 34px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
    grid-gap: 17px 17px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2941px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 3148px;
    width: 540px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-4 .u-gallery-1 {
    height: 729px;
    margin-top: 8px;
    margin-bottom: 49px;
    width: 340px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
  }
}
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}