 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 694px;
}

.u-section-1 .u-form-1 {
  height: 404px;
  margin: 52px 524px 0 -12px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

.u-section-1 .u-rotation-parent-1 {
  width: 29px;
  height: 29px;
  margin: -377px auto 60px;
}

.u-section-1 .u-icon-1 {
  width: 29px;
  height: 29px;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform-origin: center center;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 424px;
  }

  .u-section-1 .u-form-group-1 {
    margin-bottom: 60px;
    margin-top: 74px;
    height: auto;
    min-height: 34px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin: -404px auto 60px 417px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    height: 491px;
    margin-right: 36px;
  }

  .u-section-1 .u-icon-1 {
    transform-origin: center center 0px;
    margin-left: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-left: 150px;
  }
}
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}